<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>시퀄라이즈 튜토리얼</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div id="main">
      <div id="users" class="wrapper">
        <form id="user-form">
          <legend>유저 등록</legend>
          <div><input id="name" type="text" placeholder="이름" /></div>
          <div><input id="email" type="email" placeholder="이메일" /></div>
          <button type="submit">등록</button>
        </form>
        <table id="user-table">
          <thead>
            <tr>
              <th>ID</th>
              <th>이름</th>
              <th>이메일</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
      <div id="comments" class="wrapper">
        <form id="comment-form">
          <legend>댓글 등록</legend>
          <div><input id="userid" type="text" placeholder="유저ID" /></div>
          <div><input id="comment" type="text" placeholder="댓글" /></div>
          <button type="submit">등록</button>
        </form>
        <table id="comment-table">
          <thead>
            <tr>
              <th>ID</th>
              <th>작성자</th>
              <th>댓글</th>
              <th>수정</th>
              <th>삭제</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/javascripts/chat.js"></script>
  </body>
</html>
